.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h1 {
  font-size: 80px;
  display: flex;
  justify-content: center;
}

#edit-song,
#delete-song {
  color: black;
  background-color: var(--button-bg-hover);
}