{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">
{% endblock %}

{% block content %}
<div class="page-header">
  {% if playlist %}
    <h1>Edit {{playlist.title}}</h1>
  {% else %}
  <h1>Create a Playlist</h1>
  {% endif %}
</div>
<form action="" method="post" enctype="multipart/form-data" class="form-container">
{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<button type="submit" class="btn submit">Submit🎹</button>
</form>
{% endblock %}