{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/songs/songs-detail.css" %}">
{% endblock %}

{% block content %}
<h1>Song Detail</h1>
<div class="card-content">
  <div class="song-image">
    <img src="{{song.image.url}}" style="width:80%;height:90%" alt="song-image" />
  </div>
  <div class="song-detail">
    <h2>{{song.title}}</h2>
    <h2>Composer:{{song.composer}}</h2>
    <h2>Genre:{{song.genre}}</h2>
    <h2>Song:{{song.audio_file}}</h2>
    {% if perms.main_app.edit_song %}
      <a href="{% url 'song-update' song.id %}" id="edit-song" class="btn warn">Edit</a>
    {% endif %}
    {% if perms.main_app.delete_song %}
      <a href="{% url 'song-delete' song.id %}" id="delete-song" class="btn danger">Delete</a>
    {% endif %}
  </div>
</div>
{% endblock %}