{% extends "base.html" %}
{% load static %}

{% block head %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/songs/song-index.css' %}"
/>

{% endblock %}

{% block content %}

<section class="caard-coontainer">
  {% for song in song_list %}
  <div class="card">
    <a href="{% url "song-detail" song.id %}">
      <div class="song-img">
        <img src="{{song.image.url}}" style="width:10%;height:10%" alt="song-image" />
      </div>
      <div class="card-content">
        <h2>{{song.title}}</h2>
        <a href="{% url 'song-update' song.id %}" class="btn warn">Edit</a>
        <a href="{% url 'song-delete' song.id %}" class="btn danger">Delete</a>
      </div>
    </a>
    <audio controls>
      <source src="{{ song.audio_file.url }}" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>

  </div>
  {% endfor %}
</section>
{% endblock %}
