{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/playlists/playlist-detail.css" %}">
{% endblock %}

{% block content %}
<section class="playlist-container">
  <div class="playlist-img">
    <img src="{{playlist.playlist_image.url}}" alt="default-detail-page" class="detail-playlist-img" >
  </div>
  <div class="playlist-details">
    <h1>{{playlist.title}}</h1>
    <h2>Genre:{{playlist.genre}}</h2>
    <span class="description"><h2>{{playlist.description}}</h2></span>
    <div class="cat-actions">
      <a href="{% url 'playlist-update' playlist.id %}" id="edit-btn" class='btn warn'>Edit</a>
      <a href="{% url 'playlist-delete' playlist.id %}" id="edit-btn" class='btn danger'>Delete</a>
    </div>
    </dv>
  </div>
</section>
<div class="songs-section">
  <section class="songs-card-container">
    <div class="subsection-title">
      <h2>{{playlist.title}} Songs List</h2>
    </div>
    <div class="songs-list">
      <div class=".song-img img {
        width: 100%;
        height: auto; 
        }">
      </div>
      {% if playlist.songs.count %}
        {% for song in playlist.songs.all %}
          <div class="song-card">
            <div class="song-card-img">
              <img src="{{song.image.url}}" alt="song-image" class="playlist-song-card" />
            </div>
            <div class="song-card-content">
              <h2 style="font-size:19px">{{song.title}}</h2>
            </div>
            <a href="">
              <audio controls class="audio-player">
                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-songs">There are no songs added to this playlist.</p>
      {% endif %}
    </div>
  </section>
  <h1>Let's Find something for your playlist</h1>
  <form action="" method="get" class="search-song">
    {{ form.as_p }}
    <button type="submit" id="btnsubmit"class="btn submit">Search</button>
  </form>
  <ul>
    <div class="searched-songs">
      {% for song in songs  %}
      <li class="song-list-card">
            <div class="search-songs-card">
            <img src="{{song.image.url}}" style="width:80%;height:80%" alt="song-image" />
            <p>{{song.title}}</p>
            <form action="{% url "assoc-song" playlist.id song.id %}" method="post">
              {% csrf_token %}
              <button type="submit" id="add-playlist" class="btn submit">Add</button>
            </form>
          </div>
          </li>
        {% empty %}
      {% endfor %}
  </div>
  </ul>
</div>
{% endblock %}