{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/playlists/playlist-detail.css" %}">
{% endblock %}

{% block content %}
<section class="playlist-container">
  <div class="playlist-img">
    <img src="{% static "images/default-detail.png" %}" alt="default-detail-page" class="default-playlist-img" style="width:30%;height:50%">
  </div>
  <div class="playlist-details">
    <h1>{{playlist.title}}</h1>
    <h2>Genre:{{playlist.genre}}</h2>
    <h2>Description:{{playlist.description}}</h2>
    <div class="cat-actions">
      <a href="{% url 'playlist-update' playlist.id %}" class='btn warn'>Edit</a>
      <a href="{% url 'playlist-delete' playlist.id %}" class='btn danger'>Delete</a>
    </div>
    </dv>
  </div>
</section>
<section class="songs">
  <div class="subsection-title">
    <h2>{{playlist.title}} Songs List</h2>
  </div>
  <div class="subsection-content">
    {% if playlist.songs.count %}
        {{songs.count }}
      {% for song in playlist.songs.all %}
        <div class="song-container">
          <div class="song-card-container">
            <img src="{% static "images/song-card-container.png" %}" alt="song-card">
          </div>
          <p>{{song.title}}</p>
          <a href="">
            <audio controls>
              <source src="{{ song.audio_file.url }}" type="audio/mpeg">
              Your browser does not support the audio element.
          </audio>
            {% comment %} <button type="submit" class="play">Play</button> {% endcomment %}
          </a>
        </div>
      {% endfor %}
    {% else %}
    <p class="no-songs">There are no songs added to this playlist.</p>
    {% endif %}
  </div>
  <h3>Let's Find something for your playlist</h3>
  <form action="" method="get" class="search-song">
    {{ form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
    {% for song in songs  %}
      <div class="song-card">
        <li>
          <img src="{% static "images/song-card-container.png" %}" alt="song-card">
          <p>{{song.title}}</p>
          <form action="{% url "assoc-song" playlist.id song.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Add</button>
          </form>
        </li>
      </div>
      {% empty %}
    {% endfor %}
  </ul>
</section>
{% endblock %}