{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<div class="home-page">
  <section class="logo-container">
    <div class="playlist-container">
      <img src="{% static "images/soundsgood3.png" %}" alt="Text reads: Soundsgood" class="homepage-img-container">
      </div>
  </section>
  {% if not user.is_authenticated %}
  <div class="login-form-container">
    <section class="login-form">
      <form action="{% url "home" %}" method='post' class='login'>
        <h1>Log In to Soundsgood</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" id="login-btn" class='btn submit'>Log In </button>
      </form>
    </section>
  </div>
</div>
{% endif %}
{% endblock %}