/* .card-container {
  padding: 0 30px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
} */

.card-container {
  display: flex;
  flex-direction: column; /* Change to column for vertical alignment */
  flex-wrap: wrap; /* Allow cards to wrap to the next column */
  justify-content: center;
  gap: 40px; /* Add some gap between columns */
}

.card {
  width: 275px;
  margin: 0 10px 20px 10px; /* Adjust margin to create space between columns and rows */
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  flex: 1; /* Allow cards to take up available space equally in the column */
}
.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}
.playlist-card-img{
  width: 40%;
  height: 50%;
}
